params {
    // general options
    output = "pipeline_results"

    // fastp options
    compress_level = "7"
    poly_g_min_len = "5"
    poly_x_min_len = "10"
    cut_mean_quality = "27"
    n_base_limit = "0"
    average_qual = "25"
    length_required = "80"
    working_thread_n = "12"

    // kraken2, bracken options
    kraken_db = "/mss4/db/Kraken/Pluspfp"
    classification_lvl = "S"

    // bbmap options
    host_dir = "host"
    human_dir = "human"
    bbmap_memory = false
    bbmap_cpus = 4

    // spades options
    spades_mode = false

    //metawrap binning options
    concoct = false
    metabat2 = false
    maxbin2 = false

    // metawrap bin refinement options
    metawrap_completion = 50
    metawrap_contamination = 30
}

conda {
    enabled = true
    useMamba = true
    createTimeout = '3h'
}
